numpy
huggingface-hub
modelscope
transformers==4.50.3
diffsynth==1.1.9
av==16.1.0
Pillow
opencv-python
requests
tqdm
hydra-core
safetensors
accelerate
peft
diffusers
sentencepiece
fire
lightning
tensorboard
setproctitle